@import "colorsNvariables.scss";

//vielleicht muss ich für die Schriften noch ein wenig mehr auf Variablen Grössen setzen
.library-Card {
    background-color: white;
    color: $approve;
    position: sticky;
    padding: 20px;
    border: 3px solid $contrast60;
    border-radius: 20px;
    margin: 25px;
}
.cardTitle {
    font-size: 24px;
    //font-weight: bold;
    color: $contrast;
}
.begriffCount {
    font-size: 18px;
    color: $contrast;
    background-color: $approve60;
    display: inline-block;
    padding: 9px;
    border-radius: 18px;
}
.delete-hitbox {
    padding: 20px;
    //zur hilfe eine umrandung
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.leading-library {
    display: flex;
}
.leadingText {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    color: $contrast60;
}
hr.hrborder {
    border-top: 2px solid $contrast60;
}
.center-vertically {
    text-align: center;
}
.inputField {
    border: none;
    border-bottom: 2px solid $contrast60;
    margin-bottom: 0;
    width: 100%;
}
.formHelper {
    color: $contrast;
    margin-top: 0;
    //turn the text to like 18px
    font-size: 14 px;
}
