@import "colorsNvariables.scss";
@import "textStyle.scss";

//vielleicht muss ich für die Schriften noch ein wenig mehr auf Variablen Grössen setzen
.library-Card {
    background-color: white;
    color: $approve;
    position: sticky;
    padding: 20px;
    border: 3px solid $contrast60;
    border-radius: 20px;
    margin: 25px;
    //make a max-width: ;
    max-width: 900px;
    //make it align in the center horizontally
    margin-left: auto;
    margin-right: auto;
}
.cardTitle {
    font-size: 24px;
    //font-weight: bold;
    color: $contrast;
}
.begriffCount {
    font-size: 18px;
    color: $contrast;
    background-color: $approve60;
    display: inline-block;
    padding: 9px;
    border-radius: 18px;
}
.delete-hitbox {
    padding: 20px;
    //zur hilfe eine umrandung
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.leading-library {
    display: flex;
}
.leadingText {
    margin-top: 10px;
    //margin-left: 5px;
    //margin-right: 5px;
    color: $contrast60;
}
hr.hrborder {
    border-top: 2px solid $contrast60;
}
.center-vertically {
    text-align: center;
}
.inputField {
    border: none;
    border-bottom: 2px solid $contrast60;
    margin-bottom: 0;
    width: 100%;
}
.formHelper {
    color: $contrast;
    margin-top: 0;
    //turn the text to like 18px
    font-size: 14 px;
}
.titleMargin{
    margin-top: 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}
//toggle switch start

.toggle-wrapper {
    position: relative;
    display: inline-block;
    color:white;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    width: 120px; /* Größe des Toggles */
    height: 34px;
    background-color: $contrast;
    border-radius: 17px;
    transition: background-color 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.toggle-inner {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 58px; /* Etwas kleiner als die Höhe des Toggles */
    height: 30px;
    background-color: $background;
    border-radius: 50%;
    transition: left 0.3s;
}

.toggle-on, .toggle-off {
    position: absolute;
    width: 50%;
    line-height: 34px; /* Gleiche Höhe wie der Toggle */
    text-align: center;
}

.toggle-on {
    left: 0;
    z-index: 1; /* Stellt sicher, dass Option1 über dem Slider liegt */
}

.toggle-off {
    right: 0;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: $approve;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
    left: calc(100% - 2px - 58px); /* Verschiebt den Slider nach rechts */
}



//toggle switch end