 @import"colorsNvariables.scss";


//als erstes ändere ich die hintergrudfarbe der Seite

body {
    background-color: $background10;
    padding: 0;
    margin: 0;
}
.space{
    //border: 3px solid $contrast;
    width: 20px;
}
.footer-wrapper{
    position: fixed;
}
.error{
    color: $deny;
    font-size: 1rem;
    font-weight: bold;
}
.nav-wrapper {
    background-color: $contrast;
    color: $approve;
    position: sticky;
    display: flex;
    padding: 8px;
    user-select: none;
}

.anker-no-underline{
    text-decoration: none;
}



/* @media screen and (min-width: $phonewidth) {
    .flipcardWordWrapper{
        height:10vw;
    }
}
@media screen and (max-width: $phonewidth) {
    .flipcardWordWrapper{
        padding-top : 30%;
        padding-bottom: 35%;
    }
} */

@media screen and (min-width: $phonewidth) {
//hier wird die nav bar für die Desktop ansicht angepasst
    .hero{
        display:flex;
    }
    $bildmass: 20vw;
    #profilBild{
        height: $bildmass;
        width: $bildmass*1.37;
        margin: 10px;
        position:relative;
        left:-44%;
        top:-4.5%;
    }
    .image-crop{
        height: $bildmass*0.95;
        width: $bildmass*0.95;
        overflow: hidden;
        position:relative;
        border-radius: 50%;
        border: 6px solid $approve;
        box-sizing: border-box;
        margin: 10px auto;
        display: block;
    }
}
@media screen and (max-width: $phonewidth) {
    .flipcardWordWrapper{
        height:140px;
    }
    $bildmass: 50vw;
    #profilBild{
        height: $bildmass;
        width: $bildmass*1.37;
        margin: 10px;
        position:relative;
        left:-44%;
        top:-4.5%;
    }
    .image-crop{
        height: $bildmass*0.95;
        width: $bildmass*0.95;
        overflow: hidden;
        position:relative;
        border-radius: 50%;
        border: 6px solid $approve;
        margin: 10px auto;
        display: block;
    }
}


.icons{
    margin:5px;
}
.iconWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.horizontal-fill{
    flex: 1;
}
#navText{
    //change the textsize
    font-size: 3.3rem;
    font-weight: bold;
    margin: auto;
    user-select: none;
}
.footer_box{
    color: $approve;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-evenly;
    background-color: $background10;
}
.gradiant-box{
    background-image: linear-gradient(to top, $background10, $oppacity0);
    height :80px;
    width: 100%;
    position:fixed;
    bottom:50px;
    left:0;
    right:0;
}
.desktop-gradiant{
    background-image: linear-gradient(to top, $background10, $oppacity0);
    height :80px;
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}
.heightbox{
    height: 100px;
}
.mainContent{
    padding: 5%;
    margin: 20px;
    background-color: $background10;
}
.nomargin{
    margin: 0;
}
.anzeigemargin{
    margin: 20%;
}
.repetitionCountBox{
    height: 20px;
    width: 40px;
    background-color: $deny;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    display:flex;

}
.countAnzeige{
    color: $contrast;
    font-size: 0.9rem;
}
.doneCountBox{
    height: 20px;
    width: 40px;
    background-color: $approve;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    display:flex;
    justify-content: flex-end;
    
}
.displayFlex{
    display: flex;
}
.noUnderline{
    text-decoration: none;
}

$iconSize: 4rem; //gehört zu IconSize
.iconSpacer{
    height: $iconSize;
    width: $iconSize;
    margin: 25px;
}

//fonts are gonne be colored here
.pagetitle{
    color: $contrast;
    font-size: 2.7rem;
    font-weight: bold;
}
.sectiontitle{
    color: $contrast;
    font-size: 30px;
    font-weight: bold;
}
.section-content{
    color: $contrast;
    font-size: 20px;
   // text-align: justify;
    //font-weight: bold;
}
.sectionWrapper {
    padding-left: 20px; /* Abstand vom linken Rand erhöhen */
    border-left: 2px solid $contrast30; /* Linie links vom Text mit Ihrer gewünschten Farbe (hier blau) */
    margin-top: 10px; /* Optional: Abstand nach oben hinzufügen */
}

.sectionWrapper p {
    margin: 0; /* Um den Abstand um den Text zu entfernen */
}
.maxwidthXY{
    max-width: 500px;
}
@media screen and (max-width: $phonewidth) {
    .des-only {
        display: none;

    }
    .begruessung{
        display:none;
    }
    .desktop-gradiant{
        display: none;
    }
   
    .icons{
        margin: 0;
        height: 50px;
    }
@media screen and (min-width: 650px) {
    .mob-only {
        display: block;
    }
    .footer-Wrapper {
        display: none;
    }
    .gradiant-box{
        display: none;
    }


}
}


.patchCommentWrapper{
    display: flex;
    color: $contrast;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    
}
#newComment{
    //this is a textarea
    width: 100%;
    height: 250px;
    border: 2px solid $contrast60;
    border-radius: 10px;
    padding: 5px;
    resize: none;
}
#newComment:focus{
    outline: 3px solid $approve60;
}
.swipeLearnTitle{
    color: $contrast;
    font-size: 2.7rem;
    font-weight: bold;
    margin: 10px;
    text-align: center; // Add this line to center the title horizontally
}
.swipeContent{
    color: $contrast;
    font-size: 20px;
    text-align: center; // Add this line to center the content horizontally
    margin: 20px;

}
.standartButton{

    //das wäre ein guter Ansatz bei color invert
    
    background-color: white;
    color: $contrast;
    border: 2px solid $contrast60;
    border-radius: 5px;
    padding: 5px 13px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;

    &:hover{
        background-color: $contrast;
        color: white;

    }
}   
.approveButton{
    background-color: $contrast;
    color: $background10;
    //border: 2px solid $approve;
    border-radius: 5px;
    padding: 5px 13px ;
    
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold; 
    transition: background-color 0.23s ease-in-out;
    &:hover{
        background-color: $approve;
        color: $background10;
    }
}
.standartDangerButton{
    background-color: $deny;
    color: $background10;
    border: 2px solid $deny;
    border-radius: 5px;
    padding: 5px 13px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.23s ease-in-out;
    &:hover{
        background-color: $deny60;
        color: $background10;
    }
}
.standartSelect{
    background-color: $background10;
    color: $contrast;
    border: 2px solid $contrast60;
    border-radius: 5px;
    padding: 5px 13px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.23s ease-in-out;
    &:hover{
        background-color: $contrast;
        color: $background10;
    }

}
.delete-hitbox {
    padding: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
//authentification classes:
.authTextField {
    width: 100%;
    height: 40px;
    border: 2px solid $contrast60;
    border-radius: 10px;
    padding: 5px;
    resize: none;

    &:focus {
        border-color: green;
    }
}

//for the login and register and /profile page and update-interests
.centerTextvertical{
    //this is used on <p> tags to center em
    text-align: center;
    margin: auto;
    //change fontcolor
    color: $contrast;
}
.interestsWords{
    color: $approve;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid $contrast30;
    padding: 5px;
    width:fit-content;
    //display: block;
    cursor: pointer;
}
.interestsWords:hover{
    background-color: $approve;
    color: $background10;
    border: 2px solid $approve;
    cursor: pointer;
}

.interestsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.interestCheckbox {
    display: none;
}
.interestCheckbox:checked + label {
    background-color: $approve60; /* Change to your desired color for checked state */
    /* Other styles for checked state */
   //border: 2px solid green; /* Add border style for checked state */
}
.interestCheckbox:checked + label.interestsWords {
    border: 2px solid green;
}
//modal box for the textPlay
#translationModal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: $background10;
    margin: auto;
    padding: 20px;
    border: 1px solid $contrast;
    width: 80%;
    border-radius: 10px;
}