@import"colors.scss";

$phonewidth: 650px;
$middlewidth: 1000px;//and bigger
$bigwidth: 1200px;//and bigger
//als erstes ändere ich die hintergrudfarbe der Seite
body {
    background-color: $background10;
    padding: 0;
    margin: 0;
}
.footer-wrapper{
    position: fixed;
}
.nav-wrapper {
    background-color: $contrast;
    color: $approve;
    position: sticky;
    display: flex;
    padding: 20px;
    //add something that makes every child of here have at least 5px space between them
}
#profilBild{
    height: 200px;
    width: 280px;
    margin: 10px;
}
.icons{
    margin:5px;
}
.horizontal-fill{
    flex: 1;
}
#navText{
    //change the textsize
    font-size: 50px;
    font-weight: bold;
}
.footer_box{
    color: $approve;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-evenly;
    background-color: $background10;
}
.gradiant-box{
    background-image: linear-gradient(to top, $background10, $oppacity0);
    height :80px;
    width: 100%;
    position:fixed;
    bottom:50px;
    left:0;
    right:0;
}
.heightbox{
    height: 100px;
}
.mainContent{
    padding: 5%;
    margin: 20px;
    background-color: $background10;
}

//fonts are gonne be colored here
.pagetitle{
    color: $contrast;
    font-size: 50px;
    font-weight: bold;
}
.sectiontitle{
    color: $contrast;
    font-size: 30px;
    font-weight: bold;
}
.section-content{
    color: $contrast;
    font-size: 20px;
   // text-align: justify;
    //font-weight: bold;
}

@media screen and (max-width: $phonewidth) {
    .des-only {
        display: none;

    }
    .gradiant-box{
        display: none;
    }
   
    .icons{
        margin: 0;
        height: 50px;
    }
}
@media screen and (min-width: $phonewidth) {
    .mob-only {
        display: block;
    }
    .footer_box {
        display: none;
    }
}


